root = true

[*]
charset = utf-8

# tabs for indentation, spaces for alignment
# set tab width to whatever you want
indent_size = tab
indent_style = tab
ij_smart_tabs = true

insert_final_newline = true
max_line_length = 120

# formatter control
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true

# use official kotlin style
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL

# use wildcard imports exclusively
# if imports get collapsed by the IDE anyway, there's no reason to individually import anything
ij_kotlin_name_count_to_use_star_import = 1
ij_kotlin_name_count_to_use_star_import_for_members = 1

[*.yml]
# yaml files force space indentation
indent_size = 2
